body{
    background-color: powderblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    object-fit: cover;
	height: 100%;
	width: 100%;
    border-radius: 10px;
}

button{
    color: white;
    background-color: midnightblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
    border: none;
    font-weight: bold;
}

.container{
    background-color: white;
    width: 150vh;
    height: 700px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top{
    background-color: midnightblue;
    flex-grow: 1;
    height: 20ch;
    margin: 10px;
    padding: 15px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head{
    margin: 0;
    font-size: 55px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.subhead{
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.content{
    background-color:lightcyan;
    flex-grow: 1;
    height: 80%;
    margin: 10px;
    padding: 15px 20px;
    border-radius: 10px;
    display: flex;
}

.nameSection{
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: midnightblue;
    font-weight: bold;
}

.mainSections{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 15px;
    padding: 10px;
    background-color:rgb(245, 254, 255);
    border-radius: 10px;
    border: midnightblue;
    border-style: dashed;
}

.predictionBox{
    display: flex;
    flex-direction: column;
}

.inputsection{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.nameInput{
    margin-top: 15px;
    margin-right: 20px;
    height: 25px;
    width: 170px;
    font-size: 20px;
    display: flex;
}

.predictButton{
    height: 30px;
    width: 70px;
    margin-top: 15px;
    align-self: center;
}

.predictionValues{
    display: flex;
    flex-wrap: wrap;
}

.predictionItems{
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 80px;
}

.predictionTitles{
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: midnightblue;
}

.predictions{
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:darkcyan;
    justify-content: center;
}

.imageContainer{
    margin: 15px;
    width: 80%;
    height: 80%;
    align-self: center;
    border-radius: 10px;
    border: midnightblue;
    border-style: double;
}

.changeImageButton{
    margin: 15px;
    width: 120px;
    height: 30px;
    align-self: center;
}

button:hover{
    transform: scale(1.05);
}

button:active{
    transform: scale(0.9);
}