body{
    background-color: powderblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: white;
    width: 120vh;
    height: 700px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top{
    background-color: midnightblue;
    flex-grow: 1;
    height: 20ch;
    margin: 10px;
    padding: 15px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head{
    margin: 0;
    font-size: 55px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.subhead{
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.content{
    background-color:lightcyan;
    flex-grow: 1;
    height: 80%;
    margin: 10px;
    padding: 20px 30px;
    border-radius: 10px;
    display: flex;
}

.nameSection{
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: midnightblue;
    font-weight: bold;
}

.predictionSection{
    display: flex;
    flex-direction: column;
    width: 45%;
    background-color:rgb(245, 254, 255);
}

.predictionSection{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.nameInput{
    margin-top: 15px;
    height: 25px;
    width: 170px;
    font-size: 20px;
}

.predictionValues{
    display: flex;
    flex-wrap: wrap;
}

.predictionItems{
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 100px;
}

.predictionTitles{
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: midnightblue;
}

.predictions{
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:darkcyan;
    justify-content: center;
}